.MetaEvent {
  position: relative;
  padding: 14px;
  border-radius: 10px;
  width: var(--width-event-card);
  height: var(--height-event-card);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  backdrop-filter: blur(12px);
  z-index: 1;

  .topContainer, .bottomContainer {
    width: 100%;
  }

  .title {
    margin: 0;
    font: var(--font-text-lg);
    font-weight: 700;
  }

  .status {
    position: relative;
    text-transform: uppercase;
    font: var(--font-text-xs);
    font-weight: 500;
    font-size: 8px;
    color: var(--color-white);
    margin: 0 0 10px 20px;

    .statusMarker {
      position: absolute;
      top: 0;
      left: -20px;
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }

  .text {
    width: 100%;
    position: relative;
    font: var(--font-text-md);
    color: var(--color-white-80);
    margin: 0 0 4px;
    text-overflow: ellipsis;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 18px;
    margin-top: 16px;

    .emotional, .date {
      font: var(--font-text-xs);
      font-size: 11px;
      line-height: 13px;
      font-weight: 600;
    }

    .emotional {
      position: relative;
      line-height: 18px;
      margin-left: 24px;
      background: transparent;
    }

    .emotional span {
      position: absolute;
      width: 18px;
      height: 18px;
      left: -24px;
      content: '';
    }
  }
}

.best {
  background: var(--gradient-card-best);
}

.positive {
  background: var(--gradient-card-positive);
}

.neutral {
  background: var(--gradient-card-neutral);
}

.negative {
  background: var(--gradient-card-negative);
}

.worst {
  background: var(--gradient-card-worst);
}

.status .best  {
  background: var(--color-grey-bg-green);
}

.status .positive {
  background: var(--color-grey-bg-yellow-green);
}

.status .neutral {
  background: var(--color-grey-bg-yellow);
}

.status .negative {
  background: var(--color-grey-bg-orange);
}

.status .worst {
  background: var(--color-grey-bg-red);
}

.emotional.best  {
  span {
    background: url('src/shared/assets/icons/emotions/emotion-best.svg');
  }
}

.emotional.positive {
  span {
    background: url('src/shared/assets/icons/emotions/emotion-best.svg');
  }
}

.emotional.neutral {
  span {
    background: url('src/shared/assets/icons/emotions/emotion-neutral.svg');
  }
}

.emotional.negative {
  span {
    background: url('src/shared/assets/icons/emotions/emotion-negative.svg');
  }
}

.emotional.worst {
  span {
    background: url('src/shared/assets/icons/emotions/emotion-worst.svg');
  }
}
