.header {
  z-index: var(--index-header);
  max-width: var(--container-width);
  padding-inline: var(--container-padding-x);
  position: relative;
  margin: 20px auto 0;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .mobileNav {
    position: absolute;
    right: 0;
    top: 52px;
    border-radius: 5px 0 0 5px;
    z-index: 10;
    width: 100%;
    background-color: var(--color-white);
    box-shadow: -2px 2px 5px 1px rgb(0 0 0 / 30%);

    .closeArea {
      position: absolute;
      right: 230px;
      top: 0;
      content: '';
      z-index: 5;
      width: 1000px;
      height: 1000px;
    }

    .mobileList {
      width: 100%;

      .mobileItem {
        padding: 5px 0;
        list-style-type: none;
        width: 100%;

        &:hover {
          background-color: var(--color-white-80);
        }

        > button {
          width: 100%;
          height: 100%;
          font: var(--font-text-md);
          background: transparent;
          border: none;
          cursor: pointer;
        }
      }
    }
  }

  .logoContainer {
    width: 237px;
    height: 28px;
    display: block;
    margin-right: 40px;
    flex-shrink: 0;
    background: url('src/shared/assets/icons/Logo-horizontal.svg') no-repeat;
  }


  .navBarList{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    margin: 0;

    .menuButton {
      width: 32px;
      height: 32px  ;
      margin-left: 8px;
      display: none;

      > button {
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
        transition: .1s;

        &:active {
          background-color: var(--color-white-80);
        }

        align-items: center;
        background-color: var(--color-white);
        border: none;
        border-radius: 5px;
      }
    }

    .navBarPageElement {
      margin-right: 40px;
      list-style-type: none;

      .navButton, .phoneNumber {
        text-wrap: nowrap;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
        font: var(--font-text-lg);
        color: var(--color-white);
        opacity: 0.6;
        margin: 0;
        transition: .1s opacity;
        padding: 0;

        &:hover {
          opacity: 1;
        }
      }

      .phoneNumber {
        opacity: 0.8;
      }

      .liActive {
        position: relative;
        opacity: 1;
        transition: .1s scale;

        &:hover {
          transform: scale(1.05)
        }
      }

      .liActive::after {
        position: absolute;
        z-index: var(--index-selected-element);
        content: '';
        bottom: -8px;
        left: calc(50% - 14px);
        width: 28px;
        height: 4px;
        border-radius: 2px;
        color: rgb(255 255 255);
        border-bottom: 1px solid var(--color-white);
      }

      .profileButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 32px;
        border: none;
        background: var(--color-white);
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          > p {
            opacity: .7;
          }
        }

        .profileButtonText {
          font: var(--font-text-sm);
          color: var(--color-black);
          margin-right: 8px;
        }
      }
    }

    :last-child {
      margin-right: 0;
    }
  }
}

@media(width <= 1280px) {
  .header {
    padding-inline: var(--container-padding-x-smaller);

    .navBarList {
      .navBarPageElement {
        margin-right: 20px;
      }
    }
  }
}

@media(width <= 1024px) {
  .header {
    padding-inline: var(--container-padding-x-tablet);
  }

  .phoneNumber {
    display: none;
  }
}

@media(width <= 860px) {
  .header {
    padding-inline: var(--container-padding-x-tablet);

    .navBarList {
      .navBarPageElement {
        display: none;
      }

      .profileButtonElement {
        margin-right: 0;
      }

      .profileButtonElement, .menuButton {
        display: block;
      }
    }
  }
}

@media(width <= 540px) {
  .header {
    .logoContainer {
      width: 60px;
      height: 30px;
      object-fit: contain;
      margin-right: 20px;
      background: url('src/shared/assets/icons/Logo-vertical.svg') no-repeat;
    }
  }
}


@media(width <= 320px) {
  .header {
    padding-inline: var(--container-padding-x-mobile);

    .logoContainer {
      margin-right: 12px;
    }
  }
}


